*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'pappins' , sans-serif;
}
.container_navbarre
{
	width: 100%;
	height: 100vh;
	background-image:  linear-gradient(rgba(0,0,0,0.3),transparent),url("homeblured.jpg");
	background-size: cover;
	background-position: center;
	padding: 0 8%;
	position: relative;

}
nav
{
	display: flex;
	width: 100%;
	align-items: center;
	flex-wrap: wrap;
	padding: 5px 0;

}
.logo{
	width: 120px;
	cursor: pointer;
}
.icone
{
	width: 50px;
	cursor: pointer;
}
nav ul {
	flex: 1;
	text-align: right;
	padding-right: 30px
}

nav ul li {
	display: inline-block;
	list-style: none; 
	margin: 10px 30px;
}
nav ul li a {
	color: #fff;
	text-decoration: none;
	position: relative;
	font-size: 25px;
	font-family: Lucida Sans;
}
nav ul li a::after{

	content: '';
	width: 0;
	height: 3px;
	position: absolute;
	bottom: -5px;
	left : 50%;
	transform: translateX(-50%);
	background: #fff;
	transition: width 0.5s;


}


nav ul li a:hover::after{
	 width: 100%;
	 background-color: #ff8400;
}
.text-box{

	color: #fff;
	position: absolute;
	bottom :8%;
 	margin-left: 15%;

}
.text-box p {
	font-size: 50px;
	font-weight:600;
}

.text-box h1{
	font-size: 140px;
	line-height: 160px;
	margin-left: -10px;
	color: #ff8400;
	font-family: 'Dancing Script', cursive;

}
.text-box h3 {
	font-size: 40px;
	font-weight: 500;
}
