body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("registrationblured.jpg");
    background-size: cover;
}

.student-form {
    width: 400px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.7);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    opacity: 0.97;
}

.student-form h1 {
    color: #2cb0bf;
    margin-bottom: 30px;
}
.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: 80%;
    border: 1px solid #999;
    outline: none;
}
button {
    color: #fff;
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.submit-btn {
    background-color: #2cb0bf;
}
.home-btn {
    background-color: #ff8400;
}
.or {
    background: #fff;
    width: 30px;
    margin: -19px auto 10px;
}
img {
	width: 70px;
}

#pin {
	display: inline-block;
}

















.card {
    width: 20%;
        display: inline-block;
    box-shadow: 2px 2px 10px  #DB7093   ;
    border-radius: 5px;
    margin: 2.5%;
    margin-bottom: 100px;
        border-top-left-radius: 8pc;
        border-bottom-right-radius: 8pc;
    
}

.image img {
    width: 100%;
        border-top-left-radius: 3pc;
         border-top-left-radius: 8pc;


    height: 350px;
}

.title {
    text-align: center;
    padding: 10px;
}


#container{


	height: 50%
    width: 70%;
	margin-left:750px;
}

















