body {
    background-color: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'pappins' , sans-serif;
}
.container_navbarre
{
    width: 100%;
    height: 100vh;
   
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;

}
nav
{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;

}
.logo{
    width: 120px;
    cursor: pointer;
}
.icone
{
    width: 50px;
    cursor: pointer;
}
nav ul {
    flex: 1;
    text-align: right;
    padding-right: 30px
}

nav ul li {
    display: inline-block;
    list-style: none; 
    margin: 10px 30px;
}
nav ul li a {
    color: #000;
    text-decoration: none;
    position: relative;
    font-size: 25px;
    font-family: Lucida Sans;
}
nav ul li a::after{

    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left : 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.5s;


}


nav ul li a:hover::after{
     width: 100%;
     background-color: #ff8400;
}
.text-box{

    color: #fff;
    position: absolute;
    bottom :8%;
    margin-left: 15%;

}
.text-box p {
    font-size: 50px;
    font-weight:600;
}

.text-box h1{
    font-size: 140px;
    line-height: 160px;
    margin-left: -10px;
    color: #ff8400;
    font-family: 'Dancing Script', cursive;

}
.text-box h3 {
    font-size: 40px;
    font-weight: 500;
}

.title {
    text-align: center;
    padding: 60px;
    color: rgba(49, 49, 49, 0.856);
    font-size: 50px;
    font-family: cursive;
    margin-bottom: 30px;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: arial;
}
.main {
    margin: 2%;
}

.card {
    width: 20%;
        display: inline-block;
    box-shadow: 2px 2px 10px  #DB7093   ;
    border-radius: 5px;
    margin: 2.5%;
    margin-bottom: 100px;
        border-top-right-radius: 3pc;
    border-top-left-radius: 3pc;
}

.image img {
    width: 100%;
        border-top-right-radius: 3pc;
    border-top-left-radius: 3pc;

    height: 350px;
}

.title {
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 30px;
    font-family: Helvetica;
}

.des {
    padding: 3px;
    text-align: center;

    padding-top: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
button {
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}
button:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}


input{

    height: 40px;
    width: 300px;
     border-radius: 9px;
     font-size: 25px
     border-color:#30acff;

}
input:hover{

    height: 40px;
    width: 300px;
     border-radius: 9px;
      background-color: #ffe8fc;

}

.seach_contianer
{
  margin-top: 50px;
  float: right;
  margin-right: 50px;


}
